div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
h2 {
    
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-align: center;
    transition: transform 0.2s;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-text-stroke: 1px black;
}

h2:hover {
    transform: scale(1.5);
}